#head{
color:teal;
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;
text-decoration: underline;
}
#h3{
  color:teal;
  font-family: Georgia, 'Times New Roman', Times, serif;
  position:absolute;
  left:3%;
  top:10%;
}
#h1{
  color:teal;
  font-family: Georgia, 'Times New Roman', Times, serif;
  position:absolute;
  left:3%;
  top:17%;
}
#h2{
  color:teal;
  font-family: Georgia, 'Times New Roman', Times, serif;
  position:absolute;
  left:3%;
  top:24%;

}
  #img{
  position:absolute;
  left:20%;
  top:64%;
}
#img2{
  position:absolute;
  left:3%;
  top:64%;
}
#img7{
  position:absolute;
  left:52%;
  top:35%;
}
#img9{
  position:absolute;
  left:37%;
  top:64%;
}

#img8{
  position:absolute;
  left:54%;
  top:64%;
}
#img4{
  position:absolute;
  left:72%;
  top:64%;
}
#img6{
  position:absolute;
  left:70%;
  top:34%;
}
#img1{
  position:absolute;
  left:3%;
  top:34%;
}
#img3{
  position:absolute;
  left:20%;
  top:33%;
}
#img5{
  position:absolute;
  left:37%;
  top:35%;
}
.progress {
  position: absolute;
  width: 500px;
  transform: rotate(270deg) translate(-50%, -50%);
  left: 85%;
  top:68px;
}
